@inherits LayoutComponentBase

<PageTitle>Connexion</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudText Typo="Typo.h5" Class="ml-3">Mercadona</MudText>
            <MudSpacer />
        </MudAppBar>

        <MudMainContent Class="login-container">
                @Body
        </MudMainContent>

    </MudLayout>
</div>