<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/img/logo.svg" alt="Mercadona" class="d-inline-block align-text-top logo"></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="nav-group-label text-uppercase text-light fw-medium text-opacity-50">Gestion</div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium" href="article/search" Match="NavLinkMatch.All">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Articles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="counter">
                <span class="bi bi-tags" aria-hidden="true"></span> Catégories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="fetchdata">
                <span class="bi bi-percent" aria-hidden="true"></span> Fetch
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="login">
                <span class="bi bi-percent" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>

    <AuthorizeView>
        <Authorized>
            <div class="user px-4">
                <div href="" class="user__avatar">
                    <span class="user__letter">@name[0]</span>
                </div>
                <div class="avatar-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6>@name</h6>
                    </div>
                    <span>Superuser/Administrator</span>
                </div><!-- avatar-body -->
            </div>
        </Authorized>
    </AuthorizeView>

</div>

@code {

    private string? name;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter] Task<AuthenticationState>? AuthenticationState { get; set; } = null!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await AuthenticationState!;
        string name = authState.User.Identity!.Name!;
    }
}
