<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/img/logo.svg" alt="Mercadona" class="d-inline-block align-text-top logo"></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="nav-group-label text-uppercase text-light fw-medium text-opacity-50">Gestion</div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium" href="article/search" Match="NavLinkMatch.All">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Articles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="counter">
                <span class="bi bi-tags" aria-hidden="true"></span> Catégories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="fetchdata">
                <span class="bi bi-percent" aria-hidden="true"></span> Fetch
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light fw-medium text-opacity-75" href="login">
                <span class="bi bi-percent" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>

    <AuthorizeView>
        <Authorized>
            <div class="d-flex mt-4 flex-column gap-3">
                <div class="d-flex align-items-center gap-3 px-4">
                    <div href="" class="user__avatar">
                        <span class="user__letter fw-medium text-success">@context.User.Identity.Name[0]</span>
                    </div>
                    <div class="user__texts">
                        <div class="text-light">
                            <div class="fw-medium">@context.User.Identity.Name.Replace("@mercadona.com", "").ToUpper()</div>
                            <div class="fw-lighter">@context.User.IsInRole("Administrateur")</div>
                        </div>
                    </div>
                </div>
                <div class="logout px-4">
                    <div class="d-grid">
                        <button class="btn btn-light fw-medium opacity-75" type="button"><i class="bi bi-arrow-bar-left"></i> Deconnexion </button>
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
