@inherits LayoutComponentBase

<PageTitle>Connexion</PageTitle>

<div class="page">
    <main>
        <div class="login-container d-flex justify-content-center align-items-center flex-row md-3">
            @Body
        </div>
    </main>
</div>
