@page "/fetchdata"
@using BlazorServer.BackOffice.Data
@inject WeatherForecastService ForecastService
@attribute [Authorize(Roles = "Administrateur")]

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        You can only see this if you're authenticated.
    </Authorized>
    <NotAuthorized>
        You're not logged in.
    </NotAuthorized>
</AuthorizeView>




@code {
    private WeatherForecast[]? forecasts;

    [CascadingParameter] Task<AuthenticationState>? AuthenticationState { get; set; } = null!;



    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        var test = authState.User.Claims.Where(t => t.Type == System.Security.Claims.ClaimTypes.Role);

        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }


}
