@page "/login"
@layout LoginLayout
@using BlazorServer.BackOffice.Models;
@using BlazorServer.BackOffice.Pages;
@inherits LoginBase;

<EditForm Model="@LoginRequest" OnValidSubmit="@Login">
    <div>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText type="email" class="form-control" id="" @bind-Value="LoginRequest.Username" />
    </div>
    <div>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText type="password" class="form-control" id="" @bind-Value="LoginRequest.Password" />
    </div>
    <button class="btn btn-primary" type="submit">Connexion</button>
</EditForm>