@page "/promotion/search"
@using BlazorServer.BackOffice.Components
@attribute [Authorize]

<h3>SearchPromotion</h3>

<CascadingValue Value="@_linkAdd">
    <AddButton></AddButton>
</CascadingValue>

@code {
    public string _linkAdd = "/promotion/create";
}
