@page "/category/create"
@using BlazorServer.BackOffice.Models;
@inherits CreateCategoryBase;

<MudText Typo="Typo.h4" Class="mb-8">Création d'une catégorie</MudText>

<MudContainer MaxWidth="MaxWidth.Medium">
    <div class="d-flex justify-end gap-2">
        <MudTooltip Text="Ajouter une ligne">
            <MudIconButton OnClick="AddElementToList" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Dark" Size="Size.Medium" />
        </MudTooltip>
        <MudTooltip Text="Supprimer une ligne">
            <MudIconButton OnClick="RemoveLastIndexToList" Icon="@Icons.Material.Filled.Remove" Variant="Variant.Outlined" Color="Color.Dark" Size="Size.Medium" />
        </MudTooltip>
    </div>

    <EditForm Model="@categories" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard Class="rounded-lg my-6 pa-3" Elevation="10">
            <MudCardContent Class="d-flex flex-column gap-4">
                @foreach (var category in categories)
                {
                    <MudTextField Variant="Variant.Outlined" Placeholder="Céréales" Label="Nom" @bind-Value="category.Name" For="@(()=>category.Name)" />
                }
            </MudCardContent>
        </MudCard>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Valider</MudButton>
        </MudCardActions>
    </EditForm>
</MudContainer>


