@page "/Article/Create"
@inherits CreateBase

<h3>Create</h3>

<EditForm Model="@article" OnSubmit="@HandleSubmit">

    <InputText id="Name" @bind-Value="article.Name" />

    <button type="submit">Submit</button>
</EditForm>