::deep .search-result .mud-table-head {
    background: rgb(244, 246, 248);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

::deep .search-result .mud-table-head .mud-table-cell {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

::deep .search-bar {
    background-color: #e8e8e8;
    height: 42px;
    border-radius: var(--mud-default-borderradius);
}

    ::deep .search-bar .mud-input.mud-input-outlined .mud-input-outlined-border {
        border: 0;
        border-radius: var(--mud-default-borderradius);
    }


